:root {

  /**
   * COLORS
   */

  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  /**
   * GRADIENT COLOR
   */

  --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
  --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

  /**
   * TYPOGRAPHY
   */

  /* font-family */
  --fontFamily-forum: 'Forum', cursive;
  --fontFamily-dm_sans: 'DM Sans', sans-serif;

  /* font-size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /**
   * SPACING
   */

  --section-space: 70px;

  /**
   * SHADOW
   */

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /**
   * BORDER RADIUS
   */

  --radius-24: 24px;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;

}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--eerie-black-1);
  color: var(--white);
  font-family: var(--fontFamily-dm_sans);
  /*font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);*/
  line-height: var(--lineHeight-5);
    /*font-family: "Quicksand", sans-serif;*/
  }
  /*.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }*/
  .section-subtitle {
    position: relative;
    color: var(--gold-crayola);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
  }
.text-center { text-align: center; }
.label-2 { font-size: var(--fontSize-label-2); }
.headline-1 { font-size: var(--fontSize-headline-1); }
.bg-black-10 { background-color: var(--smoky-black-2); }

.grid-list {
  display: grid;
  gap: 40px;
}
.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
  color: var(--white);
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}
.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--eerie-black-4);
}
.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: var(--weight-bold);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--eerie-black-3);
  animation: loadingText linear 2s infinite;
}
.grid-list {
  display: grid;
  gap: 40px;
}
.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--eerie-black-4);
}
  a {
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
  }
  
  /* Utility Classes */
  .btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .btn-primary {
    border: 1px solid #fff;
  }
  
  .btn-secondary,
  .btn-third:hover {
    background: #383848;
  }
  
  .btn-primary:hover,
  .btn-secondary:hover,
  .btn-third {
    background: #efb747;
  }
  
  .primary-text {
    color: #f0b639;
  }
  menu{
    background : url("./imgs/menu.jpg") center center/cover no-repeat;
    position: relative;
  }
  /* Header Start */
  header {
    height: 100vh;
    background: url("./imgs/bg.jpg") center center/cover no-repeat;
    position: relative;
  }
  
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    /*
    position: fixed;
    background-color: var(--smoky-black-1);
    top: 0;
    left: -360px;
    bottom: 0;
    max-width: 360px;
    width: 100%;
    padding-inline: 30px;
    padding-block-end: 50px;
    overflow-y: auto;
    visibility: hidden;
    z-index: 2;
    transition: var(--transition-2);
  }
  .navbar .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 60px;*/
  }
  
  #navbar img {
    width: 250px;
    height: 550px;
    margin-left: 10px;
  }
  
  nav ul {
    display: flex;
    margin-right: 100px;
  }
  
  nav ul li a {
    padding: 15px 20px;
    font-weight: 600;
  }
  
  nav ul li a:hover {
    border-bottom: 2px solid #e3bb42;
  }
  
  header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%; /* Add exmple of greeen background */
  }
  
  header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
  }
  
  header .content h1 {
    font-size: 40px;
    color: #fff;
  }
  
  header .content p {
    color: #fff;
    margin: 20px 0 40px;
  }
  
  header * {
    z-index: 10;
  }
  
  /* Header End */

  /* Menu Start */
  menu{
    background-color: #383848;
  }

.menu .section-title {margin-block-end:40px;}
.menu.grid-list{margin-block-end: 50px;}
.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.hover\:card .card-banner { background-color: var(--gold-crayola); }

.hover\:card .card-banner .img-cover { transition: var(--transition-2); }

.hover\:card:is(:hover, :focus-within) .card-banner .img-cover {
  opacity: 0.7;
  transform: scale(1.05);
}

.menu-card .card-banner {
  flex-shrink: 0;
  border-radius: var(--radius-24);
}
.menu-card .card-title { transition: var(--transition-1); }

.menu-card .card-title:is(:hover, :focus-visible) { color: var(--gold-crayola); }

.menu-card .badge {
  background-color: var(--gold-crayola);
  color: var(--eerie-black-1);
  font-family: var(--fontFamily-forum);
  max-width: max-content;
  line-height: var(--lineHeight-6);
  text-transform: uppercase;
  padding-inline: 10px;
  margin-block-start: 10px;
}
.menu-card .span {
  color: var(--gold-crayola);
  margin-block: 10px;
}

.menu-card .card-text {
  color: var(--quick-silver);
  line-height: var(--lineHeight-4);
}

.menu-text .span {
  display: inline-block;
  color: var(--gold-crayola);
}

.menu .btn {
  margin-inline: auto;
  margin-block-start: 26px;
}

.menu .shape {
  display: block;
  width: 70%;
}

.menu .shape-2 {
  top: 0;
  left: 0;
}

.menu .shape-3 {
  bottom: 0;
  right: 0;
}




  /* Menu End */


  
  /* About Start */
  #about {
    height: 80vh;
    background: #f4f2ed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #about .title,
  #offers .title,
  #menu .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .menu .btn {
    margin-inline: auto;
    margin-block-start: 26px;
  }
  
  #about h2,
  #offers h2,
  #menu h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  #about h2 {
    color: #383848;
  }
  
  #about .title p {
    font-weight: 600;
    font-size: 14px;
    color: #9a9a9a;
  }
  
  #about .about-content {
    display: flex;
    justify-content: space-between;
  }
  
  #about .about-content p {
    margin-right: 7rem;
    line-height: 1.6;
    color: #9a9a9a;
    font-weight: 500;
  }
  
  #about img {
    height: 250px;
    padding-left: 10px;
  }
  
  #about .about-content a {
    margin-top: 2rem;
  }
  /* About End */
  
  /* Gallery section start */
  #gallery {
   
    padding: 8rem 0 6rem;
    background-color: #f4f2ed;
  }
  #gallery h2 {
    font-size: 40px;
    color: #9a9a9a;
    text-align: center;
    margin-bottom: 30px;
  }
  
  #gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #gallery .img-gallery img {
    margin: 20px;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    opacity: 0.8;
  }
  
  #gallery .img-gallery img:hover {
    opacity: 1;
  }
  /* Gallery section end */
  /* Contact Section start */
  #contact {
    background: #f4f2ed;
    padding: 5rem 0;
  }
  
  #contact .container {
    max-width: 900px;
  }
  
  #contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #contact .contact-info {
    width: 50%;
  }
  
  #contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
  }
  
  #contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
  }
  
  #contact .contact-info p {
    color: #9a9a9a;
  }
  
  #contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
  }
  
  #contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
  }
  
  #contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
  }
  
  form {
    width: 50%;
  }
  
  form input,
  textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
  }
  
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form button {
    color: #fff;
  }
  
  /* Contact Section End */
  /* Footer Start */
  #footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
  }
  /* Footer End */
  
  /* Responsiveness */
  /* Medium Screen + Tablet */
  @media (max-width: 1000px) {
    #navbar img {
      margin-left: 20px;
    }
  
    nav ul {
      margin-right: 20px;
    }
  
    nav ul li a {
      padding: 10px;
    }
  
    header .content h1 {
      font-size: 28px;
    }
  
    #about {
      height: auto;
      padding: 4rem 2rem;
    }
  
    #about .about-content p {
      margin-right: 2rem;
    }
  
    #about img {
      width: 250px;
    }
  
    #offers .offers-items img {
      width: 150px;
    }
  
    #offers .offers-items h3 {
      font-size: 18px;
    }
  
    #menu .menu-items {
      display: block;
    }
  
    #contact .contact-content {
      flex-direction: column;
    }
  
    /* Mobile Devices */
    @media (max-width: 600px) {
      #navbar {
        flex-direction: column;
      }
  
      #navbar img {
        margin-bottom: 20px;
      }
  
      header .content h1 {
        font-size: 18px;
      }
  
      header .content p {
        font-size: 14px;
      }
  
      #about .about-content {
        flex-direction: column;
      }
  
      #about .about-content a {
        margin: 2rem 0;
      }
  
      #about img {
        display: none;
      }
  
      #offers {
        height: auto;
        padding: 30px 10px;
      }
  
      #offers .offers-items {
        flex-direction: column;
      }
  
      #menu .menu-items .menu-item {
        margin: 20px 10px;
      }
  
      #daytime .daytime-items {
        display: block;
        height: auto;
        padding: 30px 0;
      }
  
      #daytime .daytime-items .daytime-item {
        margin-top: 20px;
      }
  
      #contact .contact-info,
      form {
        width: 80%;
      }
    }
  }
  .footer-link:is(:hover, :focus-visible) { color: var(--gold-crayola); }
  .copyright {
    color: var(--quick-silver);
    line-height: var(--lineHeight-3);
  }
  
  .copyright .link {
    display: inline;
    color: var(--gold-crayola);
    text-decoration: underline;
  }
  @media (min-width: 575px){

    
  :root {

    /**
     * typography
     */

    --fontSize-body-2: 2rem;

  }
  .topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 10px;
    border-block-end: 1px solid var(--white-alpha-20);
    z-index: 4;
    transition: var(--transition-1);
  }
  .header { top: 51px; }

  .header.active { top: 0; }

  .header .btn {
    display: block;
    margin-inline-start: auto;
  }
 /**
   * MENU
   */

   .menu-card .title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .menu-card .badge { margin-block-start: 0; }

  .menu-card .span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  .menu-card .span::before {
    content: "";
    height: 6px;
    flex-grow: 1;
    border-block: 1px solid var(--white-alpha-20);
  }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  .section-subtitle, .section-title {
      margin-bottom: 20px;
  }

  .grid-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      list-style: none;
      padding: 0;
  }

  .menu-card {
    
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s;
  }

  .menu-card:hover {
      transform: scale(1.05);
  }

  .card-banner {
      --width: 100px;
      --height: 100px;
      width: var(--width);
      height: var(--height);
      overflow: hidden;
  }

  .card-banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
  }

  .card-text {
      padding: 0 10px 10px;
  }

    .menu .grid-list {
      position: relative;
      column-gap: 90px;
    }
  
    .menu .grid-list::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      border-inline-start: 1px solid var(--white-alpha-20);
    }
  
  }
  @media (min-width: 1200px){
    .menu .grid-list {
      gap: 55px 200px;
      margin-block-end: 55px;
    }
  
  }
  
  